.todoRoot { border: 1px solid gray; width: 300px; margin: 10px auto;
    box-shadow: 5px 5px 5px #DDD; padding: 30px;
}
.todoRoot h1 { margin: 0  0 20px 0; }
.todoRoot input { padding: 6px; width: 220px; }
.todoRoot button { margin-left: 5px; padding: 3px 10px; }
.todoRoot table { border-collapse: collapse; margin-top: 20px; width: 100%; }
.todoRoot td { border: 1px solid gray; padding: 6px; }
.todoRoot thead { background-color: #eee; }